<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Get ready for a lot of cats every day</h1>
    <p> Hey there, <%= @user.username %>, you've signed up to create and update cats. </p>
  </body>
</html>
